<div class="row div-position">
    <div class="col-md-12">
        <div>
            <h1>Lista de opções para facilitar sua estilização com CSS</h1>
            <hr>
        </div>
    </div>

    <div class="col-md-4">
        <mat-card>
            <mat-card-content>
                <h2 routerLink="/css/text">Text</h2>
                <span>Edição de texto como sombra, cor, espaçamento e tamanho</span>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-md-4">
        <mat-card>
            <mat-card-content>
                <h2 routerLink="/css/color">Color</h2>
                <span>Escolha a cor que desejar</span>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-md-4">
        <mat-card>
            <mat-card-content>
                <h2 routerLink="/css/shadow">Shadow</h2>
                <span>Escolha a cor da sombra, altura e formato de suas bordas</span>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-md-4">
        <mat-card>
            <mat-card-content>
                <h2 routerLink="/css/border">Border</h2>
                <span>Bordas pontilhadas, duplas e sombras coloridas</span>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-md-4">
        <mat-card>
            <mat-card-content>
                <h2 routerLink="/css/free-editor" style="text-decoration: line-through;">Free edition</h2>
                <span>Em breve...</span>
            </mat-card-content>
        </mat-card>
    </div>

</div>