<div>
    <div *ngIf="currentComponent == undefined">
        <app-initial-page></app-initial-page>
    </div>
    <div *ngIf="currentComponent == 'text'">
        <app-text-editor></app-text-editor>
    </div>
    <div *ngIf="currentComponent == 'color'">
        <app-color-editor></app-color-editor>
    </div>
    <div *ngIf="currentComponent == 'shadow'">
        <app-shadow-editor></app-shadow-editor>
    </div>
    <div *ngIf="currentComponent == 'border'">
        <app-border-editor></app-border-editor>
    </div>
    <div *ngIf="currentComponent == 'free-editor'">
        <app-free-editor></app-free-editor>
    </div>
</div>