<div>
    <div *ngIf="opcaoLista == undefined">
        <app-initial-page></app-initial-page>
    </div>
    <div *ngIf="opcaoLista == 'text'">
        <app-text-editor></app-text-editor>
    </div>
    <div *ngIf="opcaoLista == 'color'">
        <app-color-editor></app-color-editor>
    </div>
    <div *ngIf="opcaoLista == 'shadow'">
        <app-shadow-editor></app-shadow-editor>
    </div>
    <div *ngIf="opcaoLista == 'border'">
        <app-border-editor></app-border-editor>
    </div>
</div>