<div>
    <div *ngIf="opcaoLista == 'inicio'">
        <h1>inicio</h1>
    </div>
    <div *ngIf="opcaoLista == 'text'">
        <app-text-editor></app-text-editor>
    </div>
    <div *ngIf="opcaoLista == 'color'">
        <div class="em-contrucao">
            <img src="./assets/construção.png" alt="página em construção">
            <h1>tela em construção</h1>
        </div>
    </div>
    <div *ngIf="opcaoLista == 'shadow'">
        <app-shadow-editor></app-shadow-editor>
    </div>
    <div *ngIf="opcaoLista == 'border'">
        <app-border-editor></app-border-editor>
    </div>
</div>