<div class="row">

    <div class="col-md-8" align="center">
        <div class="free-editor-to-edit">
            <!---->
        </div>
    </div>

    <div class="editor-body overflow-scroll col-md-4">

        <mat-card>
            <mat-card-content>
                <button class="col-12" mat-flat-button color="primary">Pegar código HTML</button>
                <hr>
                <button class="col-12" mat-flat-button color="primary">Pegar código CSS</button>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <h2>Título</h2>
                <button class="col-12" mat-flat-button color="warn">Adicionar título</button>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <h2>Texto</h2>
                <button class="col-12" mat-flat-button color="warn">Adicionar texto</button>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <h2>Imagem</h2>
                <button class="col-12" mat-flat-button color="warn">Adicionar imagem</button>
                <small>Obs: a imagem escolhida terá de ser adicionada novamente no código HTML</small>
            </mat-card-content>
        </mat-card>

    </div>

</div>