<mat-list role="list">
    <mat-list-item role="listitem" [ngStyle]="isComponentOpen('')" routerLink="/" (click)="verifyMenuOption('')">Início</mat-list-item>
    <mat-list-item role="listitem" [ngStyle]="isComponentOpen('text')" [routerLink]="['/css','text']" (click)="verifyMenuOption('text')">Text</mat-list-item>
    <mat-list-item role="listitem" [ngStyle]="isComponentOpen('color')" [routerLink]="['/css','color']" (click)="verifyMenuOption('color')">Color</mat-list-item>
    <mat-list-item role="listitem" [ngStyle]="isComponentOpen('shadow')" [routerLink]="['/css','shadow']" (click)="verifyMenuOption('shadow')">Shadow</mat-list-item>
    <mat-list-item role="listitem" [ngStyle]="isComponentOpen('border')" [routerLink]="['/css','border']" (click)="verifyMenuOption('border')">Border</mat-list-item>
    <mat-list-item role="listitem" [ngStyle]="isComponentOpen('free-editor')" [routerLink]="['/css','free-editor']" (click)="verifyMenuOption('free-editor')">Free edition</mat-list-item>
</mat-list>